@use './reset.scss';

:root {
  --accent: #963;
  --accent-secondary: #341408;
  --fg-primary: #ffe9cd;
  --fg-secondary: #e3c290;
  --fg-tertiary: #c0945e;
  --bg-primary: black;
  --bg-secondary: #120804;
  --bg-tertiary: #663c2b7e;
  --border-hover: #ffd5ac;
  --highlight: #ffd57b;
}

body {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;

  font-family: Arial, sans-serif;
  color: var(--fg-primary);
  text-align: center;

  background-color: var(--bg-primary);
}

/* Scrollbar  */
* {
  /* Firefox */
  scrollbar-color: var(--accent) transparent;
  scrollbar-width: thin;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border: 0 solid transparent;
    border-radius: 0;
  }
}

/* text */
h1 {
  margin-bottom: 1rem;
  font-family: Impact, 'Arial Narrow Bold', Anton, Oswald, sans-serif;
  font-weight: normal;
}

sup {
  margin-bottom: 1rem;
  font-style: italic;
  color: #ffe9cd85;
}

p {
  max-width: 65ch;
  line-height: 1.5;
  word-wrap: break-word;
}

strong {
  font-weight: bold;
}