/* stylelint-disable selector-class-pattern */
.don_quixote {
  color: #ffef23;
}

.heathcliff {
  color: #8360b1;
}

.ishmael {
  color: #ff9500;
}

.gregor {
  color: #a76936;
}

.faust {
  color: #ffbfb4;
}

.sinclair {
  color: #b4c452;
}

.ryoshu {
  color: #e20000;
}

.hong_lu {
  color: #5bffde;
}

.outis {
  color: #4c8057;
}

.rodion {
  color: #bb2727;
}

.yi_sang {
  color: #d4dfe8;
}

.meursault {
  color: #7487e2;
}

.dante {
  color: gold;
  text-shadow: 1px 1px 2px #b01c37, -1px -1px 2px #B01C37, -2px 2px 2px #B01C37, 2px -2px 2px #B01C37, 2px -2px 2px #B01C37;
}
/* stylelint-enable */
