
.text {
  margin-top: 0;

  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  /* stylelint-disable-next-line property-no-unknown */
  white-space-collapse: preserve;
}

.comments {
  margin-top: 0.25rem;
}

/* sinner colors */
/* stylelint-disable selector-class-pattern */
.don_quixote {
  color: #ffef23;
}

.heathcliff {
  color: #8360b1;
}

.ishmael {
  color: #ff9500;
}

.gregor {
  color: #a76936;
}

.faust {
  color: #ffbfb4;
}

.sinclair {
  color: #b4c452;
}

.ryoshu {
  color: #e20000;
}

.hong_lu {
  color: #5bffde;
}

.outis {
  color: #4c8057;
}

.rodion {
  color: #bb2727;
}

.yisang {
  color: #d4dfe8;
}

.meursault {
  color: #7487e2;
}
/* stylelint-enable */