
.text {
  margin-top: 0;

  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  /* stylelint-disable-next-line property-no-unknown */
  white-space-collapse: preserve;
}

.comments {
  margin-top: 0.25rem;
}

.footer {
  margin-top: 1rem;
  color: var(--fg-secondary);
  text-align: center;
}
