.root {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.list {
  overflow-x: auto;
  display: flex;
  flex-direction: row;

  min-width: 100%;
  max-width: fit-content;
  
  border: 1px solid transparent;

  @media screen and (width <= 768px) {
    font-size: 0.8rem;
  }
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 45px;
  padding: 0 20px;

  font-family: var(--font-bebas), sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  color: inherit;

  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--accent);

  &:hover {
    cursor: pointer;
  }

  &[data-state='active'] {
    border-bottom: 1px solid var(--border-hover);
  }
}

.content {
  overflow-y: auto;
  flex-grow: 1;

  max-height: 60vh;
  padding: 1.5rem;

  color: var(--fg-primary);
  text-align: left;

  outline: none;
}
