/* dialogs */
.dialog {
  p {
    margin-top: 0;
    line-height: 150%;
    color: var(--fg-primary);
  }
}

.overlay {
  position: fixed;
  inset: 0;

  overflow: auto;
  display: grid;
  place-content: center;
  place-items: center;

  background-color: #070602d8;
}

.content {
  min-width: 300px;
  max-width: 90vw;
  max-height: 85vh;
  padding: 1rem;

  color: var(--fg-secondary);

  background-color: var(--bg-secondary);
  border: 1px solid var(--accent);
  border-radius: 6px;
  box-shadow: hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;

  &:focus {
    outline: none;
  }
}

.title {
    font-family: var(--font-bebas), sans-serif;
    font-weight: 600;
}

.description {
  margin-bottom: 1rem;
  white-space: pre;
}

/* dialog buttons */
.close {
  margin-top: 10px;
  padding: 0.5px 20px;

  font-family: var(--font-bebas), sans-serif;
  font-size: 20px;
  color: var(--accent);

  background-color: #16130e83;
  border: 1px solid var(--accent);

  transition: 0.125s;

  &:hover {
    color: var(--fg-secondary);
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-hover);
  }
}
