@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Scrollbar CSS  */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #996633 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #996633;
  border-radius: 0px;
  border: 0px solid transparent;
}

/* sinner colors */

#donquixote {
  color: #ffef23;
}

#heathcliff {
  color: #8360b1;
}

#ishmael {
  color: #ff9500;
}

#gregor {
  color: #a76936;
}

#faust {
  color: #ffbfb4;
}

#sinclair {
  color: #b4c452;
}

#ryoshu {
  color: #e20000;
}

#honglu {
  color: #5bffde;
}

#outis {
  color: #4c8057;
}

#rodion {
  color: #bb2727;
}

#yisang {
  color: #d4dfe8;
}

#meursault {
  color: #7487e2;
}

/* the rest */
body {
  color: #ffe9cd;
  background-color: black;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* gallery items */

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1230px;
}

.gallery-item {
  display: inline-block;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  background-color: #120804;
  color: #e3c290;
  transition: 0.125s;
  flex-grow: 1;
}

.gallery-item:hover {
  background-color: #8f736888;
}

.gallery-item img {
  width: 100%;
}

/* dialogs */

dialog {
  width: 60%;
  padding: 20px;
  border: 1px solid #996633;
  background-color: #120804;
  color: #e3c290;
  text-align: left;
}

dialog p {
  margin-top: 0;
  line-height: 150%;
  color: #ffe9cd;
}

dialog::backdrop {
  background-color: #070602d8;
}

/* dialog buttons */

.open-dialog-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #1208047e;
  border: 1px #996633 solid;
  font-family: "Bebas Neue", sans-serif;
  color: #ffe9cd;
  font-size: 30px;
  padding: 10px 0px 0px 0px;
}

.close-dialog-btn {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  background-color: #16130e83;
  border: 1px solid #996633;
  color: #996633;
  padding: 0.5px 20px;
  transition: 0.125s;
  margin-top: 10px;
}

.close-dialog-btn:hover {
  background-color: #120804;
  color: #e3c290;
}

button {
  background-color: #e3c290;
  color: #341408;
  border: 2px solid #996633;
  padding: 2px 12px;
  transition: 0.15s;
  font-weight: bold;
  font-size: 16px;
  margin: 1.5px;
}

button:hover {
  color: #ffe9cd;
  border: 2px solid #ffd5ac;
  background-color: #1208047e;
}

#filter-buttons button.active {
  background-color: #663c2b7e;
  color: #ffd57b;
  border: 2px solid #ffd57b;
}

/* items */

.log {
  max-height: 80vh;
  overflow-y: scroll;
}

.name {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: -70px;
  background-color: #070403cb;
  gap: 16px;
}

.name p {
  margin: 0;
  width: 50%;
  line-height: 85%;
  font-weight: normal;
}

.details {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.id {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  background-color: #16130e83;
  border: 1px solid #c0945e;
  color: #c0945e;
  width: 100%;
  font-weight: normal;
}

.risk img {
  image-rendering: crisp-edges;
  width: 70%;
}

.bottom {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

/* text */

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

sup {
  font-style: italic;
  color: #ffe9cd85;
}

.filterhead {
  font-size: 20px;
  font-family: bebas neue;
  background-color: #996633;
  color: #ffe3b8;
  display: inline-block;
  margin: 0px;
  text-align: left;
  padding: 2px 16px 2px 8px;
  clip-path: polygon(0px 0px, 85% 0px, 100% 100%, 0% 100%);
}

/* Media Queries */

@media screen and (max-width: 768px) {
  #gallery .gallery-item {
    width: 100%;
  }

  .id {
    font-size: 16px;
  }

  .risk img {
    width: 100%;
  }

  .name p {
    font-size: 90%;
  }
  button {
    font-size: 14px;
  }

  .filterhead {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  #gallery .gallery-item {
    width: 100%;
  }

  .open-dialog-btn {
    font-size: 24px;
  }

  .id {
    font-size: 24px;
  }
  .risk img {
    width: 70%;
  }

  .name p {
    font-size: 24px;
  }
}
