.toggle-group {
  display: flex;
  flex-flow: wrap row;
  gap: 0.25rem;
  place-items: center;

  button {
    justify-content: center;

    margin: 1.5px;
    padding: 2px 12px;
    border: 2px solid var(--accent);

    font-size: 16px;
    font-weight: bold;
    color: var(--accent-secondary);

    background-color: var(--fg-secondary);

    transition: 0.15s;

    &:hover {
      border: 2px solid var(--border-hover);
      color: var(--fg-primary);
      background-color: var(--bg-secondary);
    }

    &[data-state='on'] {
      border: 2px solid var(--highlight);
      color: var(--highlight);
      background-color: var(--bg-tertiary);
    }
  }
}
