.text {
  margin-top: 0;

  line-height: 1.75;
  text-wrap: pretty;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.comments {
  margin-top: 0.25rem;
}

.footer {
  margin-top: 1rem;
  color: var(--fg-secondary);
  text-align: center;
}
