/* intro */
.intro {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  place-content: center;

  p {
    max-width: unset;
  }
}

/* gallery items */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
  place-content: center;
  justify-items: center;

  width: 100%;
  max-width: 1230px;
  padding: 1rem;

  @media screen and (width <= 768px) {
    display: flex;
    flex-flow: wrap column;
  }
}

/* filter */
.filter {
  &-section {
    display: flex;
    flex-flow: nowrap row;
    gap: 0.25rem;
    place-content: center;
    place-items: baseline;

    width: 100%;
    padding: 1rem;
  }

  &-label {
    padding: 2px 16px 2px 8px;

    font-family: var(--font-bebas), sans-serif;
    font-size: 1.25rem;
    color: #ffe3b8;
    text-align: left;

    background-color: var(--accent);
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  }
}

.search {
  width: 100%;
  padding: 0.25rem;

  color: var(--accent-secondary);

  background-color: var(--fg-secondary);
  border: 2px solid var(--accent);

  transition: 0.15s;

  &:hover {
    color: var(--fg-primary);
    background-color: var(--bg-secondary);
    border: 2px solid var(--border-hover);
  }

  &:focus {
    color: var(--highlight);
    background-color: var(--bg-tertiary);
    border: 2px solid var(--highlight);
    outline: none;
  }
}

.noresult {
  grid-column: span 3;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;

  strong {
    text-transform: capitalize;
  }
}
